.root {
  border: 1px solid #ccc;
  width: 220px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0px 0px 5px 0 #ccc;
}

.image {
  width: 100%;
  position: relative;
}
.percent {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: 3px solid #20c574;
  color: #606060;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
}

.container {
  padding: 10px;
}

.title {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  color: #606060;
  text-align: center;
  margin-bottom: 10px;
}

.releaseDate {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.5;
  color: grey;
  text-align: center;
}
