.container {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  justify-content: center;

  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-template-rows: repeat(auto-fit,  436px);
}
