@use '../../styles/breakpoints';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #032541;
  color: #fff;

  height: 100px;
  width: 100vw;

  padding: 20px;

  @include breakpoints.media-sm {
    flex-direction: column;
  }

  a {
    font-size: 25px;
    font-weight: bold;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;

    height: 100%;
  }
}
