@use '../../styles/breakpoints';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100px;
  width: 100vw;

  padding: 20px;

  @include breakpoints.media-md {
    flex-direction: row;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;

    height: 100%;

    ul {
      display: flex;
      align-items: center;

      gap: 10px;

      li {
        list-style: none;
      }
    }
  }
}
